aiogrpc==1.8
cffi==1.17.1
cloudpickle==3.0.0
Deprecated==1.2.14
dualsense-controller==0.3.0
evdev==1.7.1
Farama-Notifications==0.0.4
grpcio==1.66.1
gymnasium==0.29.1
inputs==0.5
keyboard==0.13.5
llvmlite==0.43.0
mavsdk==2.8.3
numba==0.60.0
numpy==1.26.4
opencv-python==4.10.0.84
pettingzoo==1.24.3
protobuf==3.20.1
pybullet==3.2.6
pycparser==2.22
pyee==11.1.1
PyFlyt==0.26.0
pynput==1.7.7
python-xlib==0.33
pyxhook==1.0.0
PyYAML==6.0.2
scipy==1.14.1
six==1.16.0
sshkeyboard==2.3.1
typing_extensions==4.12.2
wrapt==1.16.0
